# STM32F4DISCOVERY board configuration

# Copyright (c) 2016 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0

if BOARD_PLC_STM32F407VE

config BOARD
	default "BOARD_PLC_STM32F407VE"

endif # BOARD_PLC_STM32F407VE
